* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f9fafb;
}

@font-face {
    font-family: f1-regular;
    src: url(./fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: f1-bold;
    src: url(./fonts/Formula1-Bold.ttf);
}

p,
label {
    font-family: f1-regular;
}

h2,
button {
    font-family: f1-bold;
}

.container {
    height: 100%;
    display: flex;
}

.left {
    width: 30%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.f1-car,
.f1-logo {
    grid-row: 1;
}

.f1-car {
    grid-column: 1 / -1;
    height: 100%;
    align-self: center;
}

.f1-logo {
    grid-column: 1 / -1;
    align-self: center;
    box-shadow: inset 0 0 0 1000px rgba(249, 250, 251, 0.7);
    padding: 20px
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-item {
    margin: 0 0 50px 50px;
}

#form {
    margin-left: 0;
    padding-right: 200px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.fields {
    margin-left: 50px;
}

.fields-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    background-color: #f9fafb;
}